{% extends 'staff/base.html'%}

{% block navbar %}
{% with page=3 %}
{{block.super}}
{% endwith %}
{%endblock%}

{% block content %}
<div class="container pt-3">    
    <h3>Danh sách dung lượng ROM</h3>
    <div class="text-right mb-3">
      <a href="{% url 'create-rom'%}" class="btn btn-primary">Thêm dung lượng ROM</a>
    </div>
    {%if romList %}
    <table class="table table-bordered">
      <tr>
        <th style="width:5%" class="text-center">STT</th>
        <th style="width:30%" class="text-center">Dung lượng ROM</th>
        <th style="width:15%" class="text-center">Thao tác</th>
      </tr>
      {% for rom in romList %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td class="text-center">{{ rom.value_rom }}</td>
          <td class="text-center">
            <a title="Chỉnh sửa" href="{% url 'update-rom' rom.id%}"><i class="fas fa-edit"></i></a> &nbsp;
            <a title="Xóa" style="color:red" href='#' onclick="confirmDelete(this)" url="{% url 'delete-rom' rom.id%}">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Không có dữ liệu</p>
  {% endif %}    
</div>

<script>
  function confirmDelete(c) {
    var url = c.getAttribute('url');
    if(confirm('Bạn có chắc chắn muốn xóa không?')){
      location.href = url;
    }
  }
</script>
{% endblock %}