{% extends 'staff/base.html'%}

{% block navbar %}
{% with page=4 %}
{{block.super}}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container pt-3">
    <form method="POST" novalidate>{%csrf_token %}
        <table class="table table-form">
            {{form}}
        </table>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <a class="btn btn-secondary" href="{% url 'list-ram'%}">Quay lại</a>
    </form>
</div>
<script>
    $(document).ready(function(){
        $('.table input').addClass('form-control');
    });
</script>
{% endblock %}