{% extends 'staff/base.html'%}

{% block navbar %}
{% with page=0 %}
{{block.super}}
{% endwith %}
{% endblock %}

{%block content %}
    <div class="container pt-3 mb-4">
        <form method="POST" novalidate enctype="multipart/form-data">{%csrf_token %}
            <table class="table table-form">
                {{form}}
            </table>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
            <a class="btn btn-secondary" href="{% url 'list-product'%}">Quay lại</a>
        </form>
    </div>
    <script>
        $(document).ready(function(){
            $('.table input, .table select').addClass('form-control');
        })
    </script>
{% endblock %}