{% extends 'user/base.html' %}

{% block content %}
<style>
    .signup-form {
      border: 1px solid #DDD;
      max-width: 400px;
      padding: 20px;
      margin: 100 auto 0 auto;
    }
</style>
  
<div class="container mt-3 signup-form">
    <h3>Đăng ký tài khoản</h3>
    <br>
    <form method="POST">{% csrf_token %}
      <div class="form-group">
        <label>Tên tài khoản</label>
        <input name="username" type="text" class="form-control" />
        {{ form.username.errors }}
      </div>
      <div class="form-group">
        <label>Mật khẩu</label>
        <input name="password1" type="password" class="form-control" />
        {{ form.password1.errors }}
      </div>
      <div class="form-group">
        <label>Mật khẩu xác thực</label>
        <input name="password2" type="password" class="form-control" />
        {{ form.password2.errors }}
      </div>
      <div class="form-group">
        <span id="error" style="color:red"></span>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
      </div>
    </form>
</div>
{%endblock%}